html, body {
    height: 100%;
    width: 99%;
    font-family: Times New Roman;
}


/* remove underlines from hyperlinks */
a {
    text-decoration: none;
}

.wrapper {
    overflow: auto;
    display: flex;
    clear: auto;
}

.wrapper>div {
    flex: 1;
}

.main {
    float: left;
    line-height: 1.4;
    color: #333;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 0;
    max-width:750px;
    padding: 0px 30px 30px 30px;
    /* border-left: thin solid #000; */
}
/* adding border that does not go all the way down */ 
.main:before {
  content : "";
  position: absolute;
  left    : 0;
  top     : 0;
  width   : 1px;
  height  : 90%;  /* or 100px */
  border-left:1px solid black;
}

/* .right { */
/*     display: inline-block; */
/*     float: right; */
/*     height: 100%; */
/*     width: 700px; */
/*     margin-top: 100px; */
/* } */
.right {
  display: inline-block;
  position: absolute;
  top: 100px;
  right: 0;
  height: 100%;
  width: 650px;
  z-index: -10;
}

/* hiding the swirly sines when the window is too small */
@media only screen and (max-width: 1350px) {
    .right{
      display: none!important;
    }
}

/* testing out blue on headers */
.section_head {
    color: #008B8B;
  }

h1 {
    font-size: 50px;
}

p {
    font-size: 22px;
    text-align: justify;
}
li {
    font-size: 22px;
  }

.uline {
    text-decoration: underline;
}
/* Style the buttons that are used to open and close the collapsible content and the ones that act as links*/
.collapsible, .link{
  background: #008B8B;
  cursor: pointer;
  font-family: Times New Roman;
  color: white;
  border: none;
  /* border-bottom: 5px solid black; */
  /* box-shadow: 0 2px 4px; */
  margin: 5px;
  padding: 5px;
  padding-left: 20px;
  width: 100%;
  text-align: left;
  outline: none;
}

.hidden {
  display: none;
  overflow: hidden;
}
